.login-auth-page {
  min-height: 100vh;
  width: 100vw;
  background: var(--color-4);
  display: flex;
  justify-content: center;
  align-items: flex-start;
  padding: 2rem 1rem;
  overflow-y: auto;
}


.login-auth-wrapper {
  width: 100%;
  max-width: 420px;
  padding: 2.5rem;
  border-radius: 12px;
  background: #ffffff;
  box-shadow: 0 6px 18px rgba(0,0,0,0.08);
  text-align: center;
}

.login-title {
  font-size: 1.8rem;
  margin-bottom: .3rem;
  font-weight: 700;
  color: var(--color-1);
}

.login-subtitle {
  font-size: .95rem;
  color: var(--color-2);
  margin-bottom: 1.5rem;
}

.login-social-zone {
  display: flex;
  flex-direction: column;
  gap: .7rem;
}

.social-btn {
  padding: 0.6rem 1.5rem;
  width: 100%;
  font-size: .95rem;
  font-weight: 600;
  border-radius: 8px;
  border: none;
  cursor: pointer;

  justify-content: center;
  align-items: center;
  gap: .5rem;
  transition: 0.2s ease;
}

.social-btn:hover {
  transform: scale(1.03);
  box-shadow: 0 4px 10px rgba(0,0,0,0.1);
}

.btn-fb { background: #3b5998; color: #fff; }
.btn-apple { background: #000; color: #fff; }
.btn-google { background: #fff; border: 1px solid #ddd; }

.separator {
  margin: 1.7rem 0;
  font-size: .85rem;
  color: var(--color-2);
  opacity: 0.8;
  position: relative;
}

.separator::before,
.separator::after {
  content: "";
  position: absolute;
  top: 50%;
  width: 40%;
  border-bottom: 1px solid #ddd;
}

.separator::before { left: 0; }
.separator::after { right: 0; }

.login-auth-form {
  text-align: left;
}

.form-group {
  margin-bottom: 1.1rem;
}

.form-input {
  width: 100%;
  height: 38px;
  padding: .45rem .7rem;
  border: 1px solid #ddd;
  border-radius: 6px;
  font-size: .95rem;
}

.form-input:focus {
  border-color: var(--color-1);
  outline: none;
  box-shadow: 0 0 4px rgba(0, 120, 255, 0.2);
}

.input-error {
  color: red;
  font-size: .8rem;
  margin-top: .3rem;
}

.form-steps .link {
  color: var(--color-1);
  font-size: .85rem;
  text-decoration: underline;
  cursor: pointer;
}

.form-steps .link:hover {
  opacity: 0.8;
}

.form-error {
  background: #ffe6e6;
  color: #d30000;
  padding: .6rem;
  font-size: .85rem;
  border-radius: 6px;
  margin-bottom: 1rem;
  text-align: center;
}

.login-btn {
  width: 100%;
  padding: .7rem 1.5rem;
  border: none;
  border-radius: 8px;
  background: var(--color-1);
  color: white;
  font-size: 1rem;
  font-weight: 600;
  cursor: pointer;
  transition: .25s ease;
}

.login-btn:hover {
  background: #218838;   /* VERDE OSCURO */
  transform: translateY(-2px);
}

.login-btn:disabled {
  background-color: #d7d7d7;
  color: #777;
  cursor: not-allowed;
  transform: none;
  box-shadow: none;
}

@media (max-width: 480px) {
  .login-auth-wrapper {
    padding: 1.7rem;
  }
}

